body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    text-align: center;
    flex:1;
    margin:0;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input[type="date"],
input[type="number"],
input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#back {
    background-color: #2a2a2a;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
}
#back:hover {
    background-color: #4b555c;
}
footer{
    background-color:hsl(218, 10%, 15%);
    font-size:14px;
    color:#ffffff;
    bottom:0;
    width:100%;
    font-family: verdana;    
    margin-top: auto;
}

